<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Drinks App</title>
  </head>
  <body>
    <h1>Welcome to gitPub</h1>
<h1>fooBar()</h1>
<style type="text/css">
  body {
    color: rgb(255, 255, 255);
    background-color: rgb(75, 142, 224);
  }
</style>
    <ul>
      <% for(let i = 0; i < drinks.length; i++) { %>
      <li>
        <a href="/drinks/<%=i%>"><%= drinks[i].name.charAt(0).toUpperCase() + drinks[i].name.slice(1) %></a>
      </li>
      <%}%>
    </ul>
    <div>
      <h1>fooD()</h1>
      <ul>
        <% for(let i = 0; i < food.length; i++) { %>
          <li><a href="/foods/<%=i%>"><%= food[i].name %></a></li>
        <% } %>
      </ul>
    </div>
  </body>